<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

>
<head>
  <meta charset="UTF-8" />
  <title>Queue</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<header>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/produit/index}"></a>link 1</li>
        <li><a th:href="@{/produit/index1}"></a>link 5</li>
        <li><a th:href="@{/produit/index4}"></a>link 3</li>
        <li><a th:href="@{/produit/index8}"></a>link 2</li>
      </ul>
    </div>
  </div>
</header>
<section layout:fragment="content" style="margin-top: 20px"></section>
<footer>
  <footer class="navbar-fixed-bottom">
    <div class="container">
      <small>Copyright @2024</small>
    </div>
  </footer>
</footer>

</body>
</html>