<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8" />
    <title>List User</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div layout:fragment="content">
  <div class="container">
    <h3>Liste des Utilisateurs</h3>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Login</th>
        <th>Type</th>
        <th>Date Creation</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user:${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLogin()}"></td>
        <td th:text="${user.getUserType()}"></td>
        <td th:text="${user.getDateTimeCreation()}"></td>
        <td th:text="${user.isStatus()}"></td>
      </tr>
      </tbody>
    </table>
    <div class="container">
      <ul class="nav nav-pills ">
        <li th:class="${pageCourante == status.index ? 'active' : ''}" th:each="page,status:${pages}">
          <a th:href="@{user(page=${status.index}, size=${size})}" th:text="${status.index}"></a>
        </li>
      </ul>
    </div>

  </div>
</div>
</body>
</html>